@charset "utf-8";
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	display:block;
}

ul{
	list-style-type: none;
}

body{
	font-family:"나눔고딕";
	overflow-x:hidden;
}

/* header */
#wrap{
	width:100%;
}
#wrap > .inner{
	position:absolute;
	top:60px;
	left:50%;
	margin-left:-280px;
	width:550px;
	height:138px;
	-border:1px solid orange;
}

#wrap > .inner > h1 > #logo{
	-border:1px solid blue;
	width:208px;
	height:58px;
	position:absolute;
	top:0;
	left:50%;
	margin-left:-104px;
}

#darklogo{
	display:none;
}

#wrap > .inner > nav > .gnb{
	width:550px;
	height:45px;
	-border:1px solid red;
	margin-top:85px;
}

#wrap > .inner > nav > .gnb > .mainmenu{
	float:left;
	width:110px;
	height:48px;
	-border:1px solid red; 
	font-size:18px;
	-font-weight:bold;
	text-align:center;
	line-height:48px;
}

#wrap > .inner > nav > .gnb > .mainmenu a{
	color:#fff;
}

#wrap > .inner > nav > .gnb > .mainmenu:hover{
	background:rgba(255,255,255,0.7);
}

#wrap > .inner > nav > .gnb > .mainmenu:hover a{
	color:#1745cb;
}


/* header_submenu */
.sub_gnb{
	display:none;
	margin-top:1px;

}

.gnb > .mainmenu:nth-child(1) > .sub_gnb > .submenu{
	-border:1px solid red;
	padding-left:15px;
}

.gnb > .mainmenu:nth-child(1) > .sub_gnb > .submenu:hover a{
	padding-left:5px;
	transition:0.5s;
}

.gnb > .mainmenu:nth-child(2) > .sub_gnb > .submenu{
	-border:1px solid red;
	padding-left:15px;
}

.gnb > .mainmenu:nth-child(2) > .sub_gnb > .submenu:hover a{
	padding-left:5px;
	transition:0.5s;
}

.gnb > .mainmenu:nth-child(3) > .sub_gnb > .submenu{
	-border:1px solid red;
	padding-left:15px;
}

.gnb > .mainmenu:nth-child(3) > .sub_gnb > .submenu:hover a{
	padding-left:5px;
	transition:0.5s;
}

.gnb > .mainmenu:nth-child(4) > .sub_gnb > .submenu{
	-border:1px solid red;
	float:right;
	padding-left:15px;
}

.gnb > .mainmenu:nth-child(4) > .sub_gnb > .submenu:hover a{
	padding-left:5px;
	transition:0.5s;
}

.gnb > .mainmenu:nth-child(5) > .sub_gnb > .submenu{
	-border:1px solid red;
	float:right;
	padding-left:15px;
}

.gnb > .mainmenu:nth-child(5) > .sub_gnb > .submenu:hover a{
	padding-left:5px;
	transition:0.5s;
}

.gnb > .mainmenu:nth-child(1) > .sub_gnb{
	display:none;
}

.gnb > .mainmenu:nth-child(2) > .sub_gnb{
	display:none;
}

.gnb > .mainmenu:nth-child(3) > .sub_gnb{
	display:none;
}

.gnb > .mainmenu:nth-child(4) > .sub_gnb{
	display:none;
}

.gnb > .mainmenu:nth-child(5) > .sub_gnb{
	display:none;
}


.sub_gnb > .submenu{
	width:226px;
	height:45px;
	-border:1px solid red;
	text-align:left;
	background-color:#3d2520;
}

.sub_gnb > .submenu:first-child{
	border-top:2px solid #c59d5f;
}

#wrap > .inner > nav > .gnb > .mainmenu > .sub_gnb > .submenu > a{
	font-size:14px;
	font-weight:bold;
	color:silver;
	-border:1px solid red;
}


/* slide */
#slide{
	width:100%;
	height:956px;
}

.slide-group{
	width:100%;
	height:956px;
	position:relative; 
}

.slide{
	position:absolute;
}

.slidebx{
	position:absolute;
	top:50%;
	margin-top:-100px;
	left:50%;
	margin-left:-375px;
	-border:1px solid hotpink;
	text-align:center;
}

.slidebx > img{
	-width:290px;
	-height:50px;
}

.slidebx > h1{
	font-size:47px;
	font-weight:bold;
	letter-spacing:-2px;
	-border:1px solid red;
	margin-top:13px;
	color:#fff;
}

.slidebx > p{
	margin:18px 0px;
	font-size:14px;
	color:#fff;
}


/* sticky */

header.sticky{
	width:100%;
	position:sticky !important;
	top:0px;
	height:80px;
	background-color:rgba(255,255,255,0.9);
	box-shadow:1px 2px 10px rgba(182,182,182,0.6);
	transition:0.5s;
	-border:1px solid red;
	z-index:101;
}

header.sticky nav{
	top:-70px;
	right:200px;
	position:absolute;
	color:#000;
	animation:ani01 0.5s;
}

@keyframes ani01{
	to{
		top:-70px;
		opacity:1;
	}
	from{
		top:-30px;
		opacity:0;
	}
}

header.sticky #wrap > .inner > nav > .gnb > .mainmenu a{
	color:#000;
}

header.sticky #wrap > .inner > nav > .gnb > .mainmenu:hover{
	background:rgba(255,255,255,0.7);
}

header.sticky #wrap > .inner > nav > .gnb > .mainmenu:hover a{
	color:#1745cb;
}

header.sticky #wrap > .inner > nav > .gnb > .mainmenu > .sub_gnb > .submenu > a{
	font-size:14px;
	font-weight:bold;
	color:silver;
}

header.sticky #wrap .inner{
	top:0px;
	left:280px;
	width:100%;
	height:80px;
	position:absolute;
	-border:1px solid red;
}

header.sticky #darklogo{
	display:block;
	float:left;
	-border:1px solid red;
	margin-left:35px;
	margin-top:8px;
	animation:ani 0.5s;
}

header.sticky #logo{
	display:none;
}

@keyframes ani{
	to{
		margin-top:8px;
		opacity:1;
	}
	from{
		margin-top:40px;
		opacity:0;
	}
}

/* section01 */

#section01{
	width:100%;
	height:700px;
	background:#fff;
	-border:1px solid red;
}

#section01 > .inner{
	width:1130px;
	height:700px;
	-border:1px solid red;
	margin:auto;
}

/* #section01 > .bx-group / .group-left */
.bx-group{
	width:1130px;
	height:626px;
	margin-top:100px;
	-border:1px solid red;
}

.group-left{
	width:484px;
	height:626px;
	-border:1px solid red;
	float:left;
}

.group-left img{
	border-radius:20px;
	cursor:pointer;
}

/* .noticebx */
.noticebx{
	width:484px;
	height:146px;
	background-color:#3d2520;
	border-radius:10px;
	margin-top:10px;
}

.noticebx h2{
	-border:1px solid red;
	padding-top:15px;
	padding-left:15px;
	width:120px;
	color:#fff;
}

.noticebx p{
	width:55px;
	height:15px;
	-border:1px solid red;
	float:right;
	margin-top:-25px;
	margin-right:20px;
	color:#858c90;
	font-size:15px;
	position:relative;
	cursor:pointer;
}

.noticebx p > img{
	-border:1px solid blue;
	position:absolute;
	top:5px;
	right:0;
}

.notice-tbl{
	-border:1px solid red;
	margin-top:10px;
	color:lightgray;
	font-size:15px;
	line-height:1.7;
	width:484px;
	cursor:pointer;
	padding-left:15px;
}

/* .group-right -.rightbx01 */
.group-right{
	width:620px;
	height:626px;
	-border:1px solid red;
	float:right;
}

.rightbx01{
	width:620px;
	height:256px;
	background:url("../img/brend01.jpg") no-repeat;
	background-size:cover;
	border-radius:10px;
	cursor:pointer;
}

.rightbx01 h1{
	font-family:"바탕";
	color:#fff;
	font-size:38px;
	-border:1px solid red;
	padding:8px 0px 0px 17px;
}

.rightbx01 p{
	-border:1px solid blue;
	float:right;
	margin-top:125px;
	margin-right:35px;
	color:lightgray;
}

.rightbx01 h3{
	-border:1px solid blue;
	margin-top:155px;
	margin-left:200px;
	padding-left:52px;
	color:lightgray;
}

/* .group-right -.rightbx02 */
.rightbx02{
	width:620px;
	height:340px;
	background:url("../img/coupon.png") no-repeat;
	background-size:cover;
	background-position:center center;
	margin-top:28px;
	border-radius:10px;
	cursor:pointer;
}

/* section02 */
#section02{
	width:100%;
	height:600px;
	background:#fff;
	border:1px solid red;
}

#section02 > .inner{
	width:1130px;
	height:600px;
	border:1px solid red;
	margin:auto;	
}

/* title */
.title{
	width:1130px;
	height:90px;
	border:1px solid red;
	position:relative;
	margin-bottom:70px;
}

.title img{
	position:absolute;
	top:0;
	left:calc(50% - 25px);
}

.title p{
	font-size:43px;
	font-weight:bold;
	text-align:center;
	margin-top:35px;
	-border:1px solid red;
}

/* menulist */
.menulist{
	-border:1px solid red;
	width:495px;
	height:25px;
	margin:auto;
}

.menulist ul li{
	float:left;
	-border:1px solid red;
	margin-right:10px;
}

.menulist ul li span{
	color:red;
}

.menulist ul li a{
	transition:0.5s;
	color:#000;
	font-weight:bold;
}

.menulist ul li:hover a{
	color:#c59d5f;
}

/* menu */
.slider{
	width:1130px;
	-height:260px;
	margin:0px auto;
	-padding:20px;
	color:white;
	/*.parent-slide{padding:15px;}
	img{display: block;margin:auto;}*/
}

.autoplay img{
	width:260px;
	height:260px;
}

.autoplay{
	width:1040px;
}

#info{
	border:10px solid red;
	position:fixed;
	right:0px;
	top:100px;
	z-index:100;
}